<!-- about.component.html -->
<div class="min-h-screen p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-8 text-principal-light dark:text-principal-dark">À Propos de Notre Passion
        </h1>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <!-- Informations sur notre Passion -->
            <div class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Notre Amour pour
                    l'Artisanat</h2>
                <p class="text-gray-600 dark:text-gray-300">
                    Au cœur de notre atelier réside une fusion unique entre la rigueur technique de l'ingénierie
                    logicielle et l'expressivité artistique de l'artisanat. Nous sommes des ingénieurs logiciels
                    passionnés qui ont choisi de donner vie à notre créativité à travers les formes uniques de
                    l'artisanat. C'est dans cet espace que la précision algorithmique rencontre la magie de la création
                    manuelle.
                </p>
                <p class="text-gray-600 dark:text-gray-300">
                    Chaque ligne de code que nous écrivons est imprégnée de cette passion pour l'artisanat. Notre
                    atelier devient ainsi le lieu où la technologie rencontre l'âme de l'artisan. Nous croyons que cette
                    symbiose crée des œuvres qui transcendent les limites conventionnelles, donnant naissance à des
                    pièces qui racontent une histoire unique à chaque instant capturé dans l'argile.
                </p>
                <p class="text-gray-600 dark:text-gray-300">
                    Nous sommes bien plus que des ingénieurs logiciels ; nous sommes des artisans numériques,
                    métamorphosant des lignes de code en pièces d'art intemporelles. Rejoignez-nous dans ce voyage où la
                    technologie et l'artisanat s'entrelacent pour donner naissance à une expérience unique, chaque ligne
                    de code étant une broderie dans le tissu de notre passion pour l'art et la créativité.
                </p>
            </div>

            <!-- Liste des Passionnés -->
            <div class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Les Associés</h2>
                <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                    <li>
                        <div class="flex items-center gap-x-6">
                            <img class="h-16 w-16 rounded-full object-cover aspect-1" src="assets/img/achraf.jpg"
                                alt="">
                            <div>
                                <h3
                                    class="text-base font-semibold leading-7 tracking-tight text-gray-900 dark:text-white">
                                    Achraf MATAICH</h3>
                                <p
                                    class="text-sm font-semibold leading-6 text-secondary-light dark:text-secondary-dark">
                                    Designer</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="mt-8">
            <h2 class="text-2xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Localisation de Notre
                Atelier</h2>
            <div class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.2393125833805!2d-4.9842729878823775!3d34.063379073040835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd9ff4a8ab0a9187%3A0x67e5aab037d3f3c!2sTalaa%20Kebira!5e0!3m2!1sen!2sma!4v1707529228280!5m2!1sen!2sma"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>


    </div>
</div>
