<div class="p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-8 text-principal-light dark:text-principal-dark">Contactez-Nous</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Envoyez-nous un
                    Message</h2>
                <form>
                    <div class="mb-4">
                        <label for="name" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Nom</label>
                        <input type="text" id="name" name="name"
                            class="mt-1 p-2 w-full border dark:bg-slate-700 dark:text-white rounded-md focus:ring-principal-light focus:border-principal-light">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Adresse
                            Email</label>
                        <input type="email" id="email" name="email"
                            class="mt-1 p-2 w-full border dark:bg-slate-700 dark:text-white rounded-md focus:ring-principal-light focus:border-principal-light">
                    </div>
                    <div class="mb-4">
                        <label for="message"
                            class="block text-sm font-medium text-gray-700 dark:text-gray-300">Message</label>
                        <textarea id="message" name="message" rows="4"
                            class="mt-1 p-2 w-full border dark:bg-slate-700 dark:text-white rounded-md focus:ring-principal-light focus:border-principal-light"></textarea>
                    </div>
                    <button type="button"
                        class="bg-principal-light hover:bg-principal-dark text-white font-bold py-2 px-4 rounded-full transition duration-300">Envoyer</button>
                </form>
            </div>

            <div class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Coordonnées</h2>
                <p class="text-gray-600 dark:text-gray-300 mb-2">
                    <strong>Adresse :</strong> La Medina de Fes, Talaa Kbira
                </p>
                <p class="text-gray-600 dark:text-gray-300 mb-2">
                    <strong>Email :</strong> contact&#64;poteriezen.ma
                </p>
                <p class="text-gray-600 dark:text-gray-300">
                    <strong>Téléphone :</strong> +212 6 00 00 00 01
                </p>

                <div class="mt-8">
                    <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Créneaux et
                        Disponibilités</h2>
                    <p class="text-gray-600 dark:text-gray-300 mb-2">
                        Nous sommes ouverts du lundi au vendredi aux horaires suivants :
                    </p>
                    <ul class="list-disc pl-4 text-gray-600 dark:text-gray-300">
                        <li><strong>Lundi à Jeudi :</strong> 9h00 - 17h30</li>
                        <li><strong>Vendredi :</strong> 9h00 - 16h00</li>
                    </ul>
                    <p class="text-gray-600 dark:text-gray-300 mt-2">
                        Nous serons ravis de répondre a toutes vos questions.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>