<div class="p-8">
    <div class="container mx-auto">
        <h1 class="text-4xl font-semibold mb-8 text-black dark:text-principal-dark">Nos Engagements</h1>

        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Qualité Artisanale</h2>
                <p class="text-gray-600 dark:text-gray-300">Nous nous engageons à fournir des produits de poterie de la
                    plus haute qualité, tous fabriqués à la main par nos artisans expérimentés. Chaque pièce est créée
                    avec soin et attention aux détails pour garantir une expérience unique.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Expérience Accessible à Tous</h2>
                <p class="text-gray-600 dark:text-gray-300">Notre atelier est ouvert à tous, des débutants aux amateurs
                    expérimentés. Nous nous engageons à offrir une expérience accueillante et inclusive, où chacun peut
                    explorer sa créativité dans le monde de la poterie.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Respect de l'Environnement </h2>
                <p class="text-gray-600 dark:text-gray-300">Conscients de l'impact environnemental, nous nous engageons
                    à adopter des pratiques durables dans notre processus de fabrication. Nous favorisons l'utilisation
                    de matériaux respectueux de l'environnement et encourageons la réduction des déchets.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Ateliers Thérapeutiques</h2>
                <p class="text-gray-600 dark:text-gray-300">Notre atelier propose des séances de poterie en tant que
                    thérapie artistique. Nous croyons au pouvoir thérapeutique de la poterie pour aider à soulager le
                    stress, à favoriser la relaxation et à reconnecter les individus avec leur créativité.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Événements Communautaires</h2>
                <p class="text-gray-600 dark:text-gray-300">Nous organisons régulièrement des événements communautaires
                    pour rassembler les amoureux de la poterie. Ces événements comprennent des démonstrations, des
                    expositions d'art et des séances spéciales pour renforcer le lien au sein de notre communauté.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Éducation Artistique</h2>
                <p class="text-gray-600 dark:text-gray-300">Nous nous engageons à fournir des opportunités éducatives en
                    poterie. Nos ateliers et séances sont conçus pour enseigner les techniques de poterie tout en
                    encourageant l'expression artistique personnelle.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Flexibilité et Personnalisation</h2>
                <p class="text-gray-600 dark:text-gray-300">Nous comprenons que chaque individu a des besoins
                    différents. Nous offrons des séances de poterie personnalisées et flexibles pour répondre aux
                    demandes spécifiques, que ce soit pour des événements privés, des célébrations spéciales ou des
                    séances de groupe.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Transparence et Communication</h2>
                <p class="text-gray-600 dark:text-gray-300">Nous favorisons la transparence dans nos processus. Nous
                    nous engageons à communiquer ouvertement avec nos clients, à répondre à toutes les questions et à
                    partager des informations sur nos méthodes de fabrication et nos matériaux.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Satisfaction Client</h2>
                <p class="text-gray-600 dark:text-gray-300">La satisfaction de nos clients est notre priorité. Nous nous
                    efforçons de dépasser les attentes en offrant des produits exceptionnels, des expériences
                    enrichissantes et un service client attentionné.</p>
            </li>

            <li class="bg-white dark:bg-slate-800 rounded-lg overflow-hidden shadow-md p-6">
                <h2 class="text-xl font-semibold mb-2 dark:text-white">Continuité de la Tradition</h2>
                <p class="text-gray-600 dark:text-gray-300">En tant qu'atelier de poterie, nous nous engageons à
                    perpétuer la tradition artisanale tout en explorant de nouvelles possibilités créatives. Nous
                    honorons le passé tout en embrassant l'avenir de la poterie.</p>
            </li>

        </ul>
    </div>
</div>