<section>
    <div class="p-5 space-y-4">
        <h3 class="text-4xl text-principal-light dark:text-principal-dark">Gallerie</h3>
        <span class="text-gray-700 dark:text-gray-300">Sculptures en Argile : Explorez notre Collection
            Artistique</span>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
            <div class="grid gap-4">
                <img class="w-auto h-auto aspect-[3/4] object-cover max-w-full rounded-lg"
                    src="assets/img/jennifer-burk-CHG8eMpD1Aw-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[5/3] object-cover max-w-full rounded-lg"
                    src="assets/img/mariana-beltran-GcxqaYx1S3E-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[1/1] object-cover max-w-full rounded-lg"
                    src="assets/img/random-institute-VIpyi3xNBJs-unsplash.jpg" alt="">

            </div>
            <div class="grid gap-4">
                <img class="w-auto h-auto aspect-[16/9] object-cover max-w-full rounded-lg"
                    src="assets/img/main_pottery.jpg" alt="">

                <img class="w-auto h-auto aspect-[1/1] object-cover max-w-full rounded-lg"
                    src="assets/img/vicky-hladynets-Bb7c5J3sHD0-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[3/4] object-cover max-w-full rounded-lg"
                    src="assets/img/second_pottery_one.jpg" alt="">

            </div>
            <div class="grid gap-4">
                <img class="w-auto h-auto aspect-[1/1] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/toa-heftiba-yN33yGmulWE-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[4/5] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/anne-nygard-E-9uEmQNWeY-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[13/9] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/annie-spratt-bewql7eEL0A-unsplash.jpg" alt="">

            </div>
            <div class="grid gap-4">
                <img class="w-auto h-auto aspect-[3/4] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/chloe-bolton-R0qthXq3jec-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[5/3] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/yana-hurska-2jfT_TA9tyo-unsplash.jpg" alt="">

                <img class="w-auto h-auto aspect-[1/1] object-cover max-w-full rounded-lg"
                    src="assets/img/gallery/yana-hurska-zeGT9j4ltRA-unsplash.jpg" alt="">

            </div>
        </div>
    </div>
</section>