<div class="p-8">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold mb-8 text-principal-light dark:text-principal-dark">Réservez Votre Séance</h1>

        <div class="bg-white dark:bg-slate-700 rounded-lg overflow-hidden shadow-md p-6">
            <form *ngIf="reservationForm" [formGroup]="reservationForm" (submit)="submitForm()">

                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Sélectionnez la
                    Date et
                    l'Heure</h2>

                <div class="mb-4">
                    <label for="date" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Date</label>
                    <input formControlName="date" type="date" id="date" name="date"
                        class="mt-1 p-2 w-full border rounded-md dark:bg-slate-700 dark:text-white"
                        [ngClass]="{'ring-red-500 border-red-500 ring-2': dateControl?.invalid && (dateControl?.touched || dateControl?.dirty)}">
                    <div *ngIf="dateControl?.invalid && (dateControl?.dirty || dateControl?.touched)">
                        <p class="text-red-600 dark:text-red-400"
                            *ngFor="let errorKey of dateControl?.errors  ?? {} | keyvalue">{{errorKey.key}}</p>
                    </div>
                </div>


                <div class="mb-4">
                    <label for="time" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Heure</label>
                    <select class="w-full rounded-md dark:bg-slate-700 dark:text-white"
                        [ngClass]="{'ring-red-500 ring-2': heureControl?.invalid && (heureControl?.touched || heureControl?.dirty)}"
                        formControlName="heure" id="time" formControlName="heure">
                        <option *ngFor="let heure of getHeuresDisponibles(dateControl?.value ?? []); let i = index"
                            [value]="heure" [attr.selected]="i === 0">{{ heure }}</option>
                    </select>
                    <div *ngIf="heureControl?.invalid && (heureControl?.dirty || heureControl?.touched)">
                        <p class="text-red-600 dark:text-red-400"
                            *ngFor="let errorKey of dateControl?.errors  ?? {} | keyvalue">{{errorKey.key}}</p>
                    </div>
                </div>

                <h2 class="text-xl font-semibold mb-4 text-principal-light dark:text-principal-dark">Choisissez Votre
                    Offre
                </h2>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

                    <div *ngFor="let offer of offers"
                        [ngClass]="{'ring-2 ring-principal-light dark:ring-principal-dark': isSelected(offer)}"
                        class="bg-slate-200 dark:bg-slate-600 rounded-lg p-4">
                        <h3 class="text-lg font-semibold mb-2 dark:text-white">{{offer.name}}</h3>
                        <p class="text-slate-600 dark:text-slate-300 mb-2">{{offer.description}}</p>
                        <p class="text-slate-600 dark:text-slate-300 font-bold">Prix : {{ offer.price }}Dhs {{
                            offer.about_the_price ? '*' + offer.about_the_price : ''}}</p>
                        <!-- Ajoutez un bouton pour sélectionner cette offre -->
                        <button [disabled]="isSelected(offer)" (click)="selectOffer(offer)"
                            class="disabled:bg-slate-400 dark:disabled:bg-slate-300 disabled:text-gray-700 dark:disabled:text-gray-500 bg-principal-light hover:bg-principal-dark text-white font-bold py-2 px-4 rounded-full mt-4 transition duration-300">
                            <span *ngIf="isSelected(offer); else notSelected">Choisie</span>
                            <ng-template #notSelected>
                                <span>Sélectionner</span>
                            </ng-template>
                        </button>
                    </div>

                </div>

                <button [disabled]="reservationForm.invalid"
                    class="disabled:bg-gray-200 dark:disabled:bg-gray-600 disabled:text-gray-900 dark:disabled:text-gray-200 bg-principal-light hover:bg-principal-dark text-white font-bold py-2 px-4 rounded-full mt-4 transition duration-300">Réserver</button>
            </form>
        </div>


    </div>
</div>